
* {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

header {
  padding: 0 5%;
}

p {
  margin:  0;
}

h1 {
  text-align: left;
  text-transform: uppercase;
  font-size: inherit;
  margin: 4em 0;
}

.pink {
  color: #e78af8;
}

.teal {
  color: #83e0df;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.mogra {
  font-family: "mogra", cursive;
}

.baumans {
  font-family: 'Baumans', cursive;
}

.background-wrapper {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  z-index: 1;
}

.background-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  /*background-color: rgba(0,0,0,0.5);*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

.navigation {
  margin-top: 40px;
  text-align: center;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list-item {
  display: inline-block;
  padding: 15px;
}

.navigation-anchor {
  color: rgba(255,255,255,.6);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 13px;
}

.navigation-anchor.is-active,
.navigation-anchor:hover {
  color: #ffffff;
}

.content-container {
  margin: 50px auto;
  max-width: 920px;
  padding: 0 5%;
  width: 70%;
}

.header {
  margin: 4em auto;
  max-width: 573px;
}

.header-large {
  font-size: 4.5em;
}

.header-small {
  font-size: 3em;
  text-transform: none;
}

.header-small.is-right {
  text-align: right;
}

.header-description {
  font-size: 2em;
}

.content-description {
  font-size: 2em;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin: 74px auto 0;
  text-align: center;
  max-width: 920px;
}

.image-container-description {
  font-size: 2em;
  display: flex;
  align-items: center;
  align-content: center;
  width: 50%;
  vertical-align: top;
  text-align: left;
  position: relative;
}

.image-container img {
  border: 5px solid black;
  max-height: 250px;
}

.small {
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .header {
    max-width: 492px;
  }
}

@media screen and (max-width: 700px) {
  .image-container {
    display: block;
  }

  .image-container-description {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 10px;
  }
  .header {
    text-align: center;
  }
  .right {
    text-align: center;
  }

  .image-container img {
    border: 5px solid black;
    max-height: 188px;
  }
}
